@charset "utf-8";

/**
 * --------------------------------
 * avenueCom Common CSS
 * --------------------------------
 */

@font-face {
	font-family:"NotoSansKR";
	font-style: normal;
	font-weight: 400;
	src:	url(/avenueCom/fonts/NotoSansKR-Regular-Hestia.eot);
	src:	url(/avenueCom/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"),
				url(/avenueCom/fonts/NotoSansKR-Regular-Hestia.woff) format("woff"),
				url(/avenueCom/fonts/NotoSansKR-Regular-Hestia.ttf) format("truetype");
}

@font-face {
	font-family:"HelveticaNeue";
	font-style: normal;
	font-weight: 700;
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-BdCn.eot);
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-BdCn.eot?#iefix) format("embedded-opentype"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-BdCn.woff) format("woff"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-BdCn.ttf) format("truetype");
}

@font-face {
	font-family:"HelveticaNeue";
	font-style: normal;
	font-weight: 800;
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-HvCn.eot);
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-HvCn.eot?#iefix) format("embedded-opentype"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-HvCn.woff) format("woff"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-HvCn.ttf) format("truetype");
}

@font-face {
	font-family:"HelveticaNeue";
	font-style: normal;
	font-weight: 900;
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-BlkCn.eot);
	src:	url(/avenueCom/fonts/HelveticaNeueLTPro-BlkCn.eot?#iefix) format("embedded-opentype"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-BlkCn.woff) format("woff"),
				url(/avenueCom/fonts/HelveticaNeueLTPro-BlkCn.ttf) format("truetype");
}

/**
 * base style
 * --------------------------------
 */
html, body {margin:0;padding:0;font-family:"NotoSansKR";font-weight:400;font-size:15px;line-height:1;letter-spacing:-0.05em; color:#000000; -webkit-text-size-adjust:none;}
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,img, pre{font-family:"NotoSansKR";font-weight:400;margin:0;padding:0;word-break:break-all;}
input,button,select,textarea{vertical-align:middle;}
input[type="checkbox"], input[type="radio"] {margin:1px 0 0 0;vertical-align:top;}
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:0;}
ul, ol, li {list-style:none;}
img, fieldset, iframe {border:0 none;vertical-align:top;}
table{border-collapse:collapse;}
a {color:inherit;text-decoration:none}
caption, legend {display:none;}
em,address{font-style:normal;}
.hide {display:block;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;line-height:0;overflow:hidden;font-size:0;text-indent:-9999px;}
hr, .connone {display:none;}
div {-webkit-text-size-adjust:none;}
p { word-wrap:break-word; word-break:break-all; -webkit-text-size-adjust:none;}
button, button:hover, button:active, button:focus{border:0 none;background:none;cursor:pointer;outline:none;overflow:hidden;}
main{display:block;}
.inner{margin:0 auto;width:1000px;box-sizing:border-box;}
i.ico{display:inline-block;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;}
figure { margin:0; }
strong, th { font-weight:normal; }
textarea { resize:none; }
.skip .skip_contents { position:absolute; z-index:9999; top:-35px; width:100%; height:33px; line-height:33px; text-align:center; text-decoration:none; color:#000000; background:#ffffff; opacity:0.9; filter:alpha(opacity=90); }
.skip a:focus { top:0; }

/* popup */
.main .popup { visibility:hidden; position:absolute; z-index:9999;  }
.main .popup .popup_inner { font-size:12px; background:#ffffff; }
.main .popup .popup_inner img { width:100%; }
.main .popup .popup_bottom { height:40px; line-height:40px; color:#ffffff; padding:0 10px 0 15px; background:#000000; }
.main .popup .popup_bottom input[type=checkbox] { display:none; }
.main .popup .popup_bottom [data-ui=checkbox] { position:relative; display:inline-block; width:20px; height:20px; vertical-align:-4px; margin-right:10px; cursor:pointer; box-sizing:border-box; }
.main .popup .popup_bottom [data-ui=checkbox]:after { display:block; content:""; position:absolute; z-index:1; top:0; left:0; width:100%; height:100%; background:url(/avenueCom/images/common/checkbox.gif) no-repeat 0 0; }
.main .popup .popup_bottom [data-ui=checkbox].checked:after { background:url(/avenueCom/images/common/checkbox_on.gif) no-repeat 0 0; }
.main .popup .popup_bottom .btn_close { float:right; width:17px; height:16px; text-indent:-9999px; margin-top:12px; background:url(/avenueCom/images/common/close.gif) no-repeat 0 0; }

[data-ui=popup] { visibility:hidden; position:fixed; z-index:9999; top:0; left:0; width:100%; height:100%; background:transparent; background:rgba(0, 0, 0, 0.8); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); }
[data-ui=popup] .popup_inner { position:absolute; background:#ffffff; }
[data-ui=popup] .popup_tit { height:65px; font-size:22px; line-height:65px; color:#ffffff; padding:0 25px; background:#000000; }
[data-ui=popup] .popup_content { padding:20px 30px 30px; }
[data-ui=popup] .btn_close { position:absolute; right:22px; top:22px; width:20px; height:20px; text-indent:-9999px; background:url(/avenueCom/images/sub/sp_sub.png) no-repeat -530px -94px; }




/**
* Error
* --------------------------------
*/
.error { padding:120px 0 200px !important; }
.error .logo {  width:111px; height:61px; margin:0 auto; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; }
.error .txt_area { width:1080px; text-align:center; margin:30px auto 0; padding:80px 0 100px; border-top:3px solid #000000; border-bottom:1px solid #707070; }
.error .txt { font-size:32px; line-height:40px; }
.error .txt:before { display:block; content:"";  width:207px; height:176px; margin:0 auto 55px; background:url(/avenueCom/images/common/error_img.gif) no-repeat 0 0; }
.error.coupon .txt:before { width:141px; height:147px; background:url(/avenueCom/images/sub/sp_sub.png) no-repeat 0 -1597px; }
.error .txt strong { font-weight:bold; }
.error .btn_area { font-size:0; text-align:center; margin-top:55px; }
.error .btn_area .btn_cart { display:inline-block; width:180px; height:60px; font-size:18px; line-height:56px; text-align:center; color:#ffffff; border:2px solid #000000; background:#000000; box-sizing:border-box; }
.error .btn_area .btn_home { display:inline-block; width:180px; height:60px; font-size:18px; line-height:56px; text-align:center; border:2px solid #000000; box-sizing:border-box; }
.error .btn_area a:last-child { margin-left:10px; }



/**
 * header
 * --------------------------------
 */
#header {position:fixed;z-index:200;left:0;top:0;width:100%;min-width: 1080px;/*min-width:1280px;*/background-color:#ffffff;box-sizing:border-box;}
#header_inner { width:1080px; height:100px; margin:0 auto; padding:20px 0; overflow:hidden; box-sizing:border-box; }
#header .logo { float:left; position:relative; }
#header .logo a { display:inline-block;; width:112px; height:61px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; visibility:hidden; }
#header .logo .top { position:absolute; top:0; left:16px; height:18px; background:#000000; }
#header .logo .mid { position:absolute; top:21px; left:50px; height:18px; background:#000000; }
#header .logo .mid2 { position:absolute; top:39px; left:50px; height:5px; background:#ffffff; }
.sub #header .logo .mid2 { background:#f1f1f1; }
#header .logo .bot { position:absolute; top:44px; left:0; height:18px; background:#000000; }

#header #all_menu {display:none;position:fixed;z-index:3;top:0;left:0;width:100%;min-width: 1080px;/*height:560px;*//*min-width:1280px;*/background:#ffffff;}
#header #all_menu header { width:1080px; margin:0 auto; padding:28px 0; overflow:hidden; }
#header #all_menu h2 { float:left; font-size:26px; }
#header #all_menu h2:before { display:inline-block; content:""; width:25px; height:25px; vertical-align:-3px; margin-right:18px; background:url(/avenueCom/images/common/sp_common.png) no-repeat -84px -63px; }
#header #all_menu .btn_close { float:right; width:25px; height:25px; text-indent:-9999px; margin-right:18px; background:url(/avenueCom/images/common/sp_common.png) no-repeat -84px -90px; }
#header #all_menu_inner { position:relative; width:1080px; margin:0 auto; padding-top:38px; border-top:4px solid #000000; box-sizing:border-box; overflow:hidden; }
#header #all_menu_inner .depth1 { float:left; width:180px; }
#header #all_menu_inner .depth1 > span,
#header #all_menu_inner .depth1 > a { display:inline-block; text-indent:-9999px; height:15px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; }
#header #all_menu_inner .about span { width:66px; background-position:0 -117px; }
#header #all_menu_inner .stands span { width:73px; background-position:-68px -117px; }
#header #all_menu_inner .dodream span { width:96px; background-position:-253px -117px; }
#header #all_menu_inner .walkshop span { width:108px; background-position:-143px -117px; }
#header #all_menu_inner .event span { width:60px; background-position:0 -134px; }
#header #all_menu_inner .customer a { width:68px; height:19px; background-position:-62px -134px; }
#header #all_menu_inner .mypage a { width:85px; height:19px; background-position:-132px -134px; }
#header #all_menu_inner .depth2 { /*height:393px;*/ margin-top:22px; overflow:hidden; }
#header #all_menu_inner .depth2 > li { font-size:15px; color:#707070; }
#header #all_menu_inner .depth2 > li > a { line-height:30px; }
#header #all_menu_inner .depth2 > li > a:hover { text-decoration:underline; }
#header #all_menu_inner .depth2 > li:first-child { margin-top:0; }
#header #all_menu_inner .depth3 { margin-bottom:15px; overflow:hidden; }
#header #all_menu_inner .depth3 > li { float:left; font-size:13px; line-height:19px; color:#bbbbbb; }
#header #all_menu_inner .depth3 > li a:hover { text-decoration:underline; }
#header #all_menu_inner .depth3 > li:nth-child(2n+2) { margin-left:13px; }
#header #all_menu_inner .depth3 > li:nth-child(2n+3) { clear:left; float:left; }
#header #all_menu_inner .dodream .depth3 > li { float:none; margin-left:0; }
/* #header #all_menu_inner .stands { width:360px; overflow:hidden; } */
/* #header #all_menu_inner .stands .depth2 > li { width:180px; } */
/*
#header #all_menu_inner .stands .depth2 > li:nth-child(1) { float:left; }
#header #all_menu_inner .stands .depth2 > li:nth-child(2),
#header #all_menu_inner .stands .depth2 > li:nth-child(3) { clear:both; float:left; }
#header #all_menu_inner .stands .depth2 > li:nth-child(4) { margin-top:-185px;margin-top:-165px;  }
#header #all_menu_inner .stands .depth2 > li:nth-child(5) { margin-top:-102px;margin-top:-82px;   }
#header #all_menu_inner .stands .depth2 > li:nth-child(6) { margin-top:-15px; margin-top:0;  }
#header #all_menu_inner .stands .depth2 > li:nth-child(1n+4) { float:right;  }
*/
#header #all_menu_inner .event .depth2 { height:auto; }
#header #all_menu_inner .customer { clear:both; float:right; position:absolute; top:200px; right:180px; }
#header #all_menu_inner .mypage { clear:both; float:right; position:absolute; top:245px; right:180px; }
#header #all_menu_inner .sns { clear:both; float:right; position:absolute; top:38px; right:0; width:180px; margin-top:0; padding:0; background:none; }
#header #all_menu_inner .sns li { margin-top:19px; }
#header #all_menu_inner .sns li:first-child { margin-top:0; }
#header #all_menu_inner .sns a { display:block; height:14px; text-indent:-9999px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; }
#header #all_menu_inner .sns .facebook a { width:105px; background-position:-204px -40px; }
#header #all_menu_inner .sns .blog a { width:65px; background-position:-204px -56px; }
#header #all_menu_inner .sns .instagram a { width:113px; background-position:-204px -72px; }
#header #all_menu_inner .sns .youtube a { width:93px; background-position:-204px -88px; }




#header #gnb { float:left; margin-left:68px; }
#header #gnb .depth1 { float:left; height:57px; margin-top:23px; }
#header #gnb .depth1 > li { float:left; margin-left:30px; }
#header #gnb .depth1 > li:first-child { margin-left:0; }
#header #gnb .depth1 > li:nth-child(2) { margin-left:0; }
#header #gnb .depth1 > li > a { display:block; height:16px; text-indent:-9999px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; opacity:0.4; filter:alpha(opacity=40); }
#header #gnb .depth1 > li > a.on,
#header #gnb .depth1 > li > a.ov { opacity:1; filter:alpha(opacity=100); }
#header:not(.story2) #gnb .depth1 > li > a.on + .lnb { display:block; }
#header #gnb .depth1 > li > a.ov + .lnb { display:block !important; z-index:1; }
#header #gnb .depth1 #about > a { width:59px; background-position:-114px 0; }
#header #gnb .depth1 #stand > a { width:68px; background-position:-175px 0; }
#header #gnb .depth1 #dodream > a { width:92px; background-position:-245px 0; }
#header #gnb .depth1 #warkshop > a { width:97px; background-position:-114px -18px; }
#header #gnb .depth1 #event > a { width:56px; background-position:-213px -18px; }
#header #gnb #sns { display:none; position:absolute; z-index:2; left:50%; bottom:-26px; width:180px; margin-left:-539px; }
#header #gnb #sns.ov { display:block !important; }
#header #gnb #sns li { float:left; }
#header #gnb #sns a { display:block; height:14px; text-indent:-9999px; margin-left:15px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; }

#header #gnb #sns #facebook a { width:8px; margin-left:10px; background-position:-113px -156px; }
#header #gnb #sns #blog a { width:9px; background-position:-123px -156px; }
#header #gnb #sns #instagram a { width:14px; background-position:-135px -156px; }
#header #gnb #sns #youtube a { width:16px; background-position:-151px -156px; }

#header #gnb #sns #facebook a:hover {background-position:-113px -172px; }
#header #gnb #sns #blog a:hover { background-position:-123px -172px; }
#header #gnb #sns #instagram a:hover { background-position:-135px -172px; }
#header #gnb #sns #youtube a:hover { background-position:-151px -172px; }

#header #gnb .lnb { display:none; position:absolute; top:100px; left:0; width:100%; height:40px; font-size:13px; color:#8f8f8f; background:#202020; }
#header #gnb .lnb_inner { width:1280px; margin:0 auto; padding:0 100px; box-sizing:border-box; }
#header #gnb .lnb ul { float:left; }
#header #gnb .lnb li { float:left; }
#header #gnb .depth2 { margin:12px 0 0 55px; }
#header #gnb #about .depth2 { margin-left:180px; }
#header #gnb #stand .depth2 { margin-left:180px; }
#header #gnb #dodream .depth2 { margin-left:180px; }
#header #gnb #warkshop .depth2 { margin-left:180px; }
#header #gnb #event .depth2 { margin-left:590px; }
#header #gnb .depth2 li { margin-left:35px; }
#header #gnb .depth2 li:first-child { margin-left:0; }
#header #gnb .depth2 li > a.on,
#header #gnb .depth2 li > a:hover { color:#ff6700; }
#header #gnb #personal { float:left; font-size:11px; color:#9f9f9f; margin:8px 0 0 41px; }
#header #gnb #personal li { float:left; position:relative; width:62px; text-align:center; }
#header #gnb #personal #mypage { margin-right:0; padding-right:0; }
#header #gnb #personal #cart small { display:block; position:absolute; top:-8px; left:34px; height:15px; font-size:12px; text-indent:0; line-height:14px; color:#ffffff; padding:0 5px; border-radius:15px; background:#ff1515;  }
#header #gnb #personal #btn_lang:before { display:block; content:""; width:24px; height:26px; margin:0 auto 7px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; background-position:-114px -91px; }
#header #gnb #personal #btn_lang a { color:#9f9f9f; }
#header #gnb #personal li a:before { display:block; content:""; width:26px; height:26px; margin:0 auto 7px; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 0; opacity:0.4; filter:alpha(opacity=40); }
#header #gnb #personal #customer a:before { background-position:0 -63px; }
#header #gnb #personal #cart a:before {background-position:-28px -63px;  }
#header #gnb #personal #mypage a:before { background-position:-56px -63px; }
#header #gnb #personal #btn_lang a:before { display:none; }
#header #gnb #personal #btn_lang .kr { color:#000; }

#header #gnb #personal li a.on,
#header #gnb #personal li:hover a { color:#000000; }
#header #gnb #personal li a.on:before,
#header #gnb #personal li:hover a:before { opacity:1; filter:alpha(opacity=100); }
#header #gnb #membership { float:left; width:46px; font-size:12px; text-align:center; color:#9f9f9f; margin:8px 0 0 6px; }
#header #gnb #membership a:hover { color:#000000; }
#header #gnb #membership #login { width:46px; margin:9px auto 0; padding-top:9px; border-top:1px solid #d9d9d9; }
#header #gnb #membership #name { display:block; }
#header #gnb #membership #logout { display:block; margin:9px auto 0; padding-top:9px; border-top:1px solid #d9d9d9; }
#header .btn_all_menu { float:right; width:62px; font-size:11px; text-align:center; color:#b0b0b0; margin-top:10px; }
#header .btn_all_menu:before { display:block; content:""; width:25px; height:25px; margin:0 auto 8px; background:url(/avenueCom/images/common/sp_common.png) no-repeat -84px -63px; opacity:0.4; filter:alpha(opacity=40); }
#header .btn_all_menu:hover { color:#000000; }
#header .btn_all_menu:hover:before { opacity:1; filter:alpha(opacity=100); }

#header.scroll #header_inner { height:80px; padding:15px 0; }
#header.scroll .logo a { width:91px; height:50px; background-position:-113px -40px; }
#header.scroll .logo .top { top:0; left:13px; height:14px; }
#header.scroll .logo .mid { top:17px; left:40px; height:15px; }
#header.scroll .logo .mid2 { top:32px; left:40px; height:3px; }
#header.scroll .logo .bot { top:35px; left:0; height:14px; }
#header.scroll #gnb { margin-left:88px; }
#header.scroll #gnb .depth1 { margin-top:15px; }
#header.scroll #gnb #personal { margin-top:11px; }
#header.scroll #gnb #personal #btn_lang { font-size:0; text-indent:-9999px; }
#header.scroll #gnb #personal a { display:inline-block; font-size:0; text-indent:-9999px; }
#header.scroll #gnb #membership { margin-top:7px; }
#header.scroll #gnb #sns { display:none; }
#header.scroll #gnb .lnb { display:none; top:80px; }
#header.scroll #gnb #membership #login { width:46px; margin:5px auto 0; padding-top:5px; border-top:1px solid #d9d9d9; }
#header.scroll #gnb #membership #name { display:block; }
#header.scroll #gnb #membership #logout { display:block; margin:5px auto 0; padding-top:5px; border-top:1px solid #d9d9d9; }
#header.scroll .btn_all_menu { font-size:0; text-indent:-9999px; }

#header.scroll #gnb #personal li:hover a { font-size:11px; text-indent:0; }
#header.scroll #gnb #personal #btn_lang:hover { font-size:11px; text-indent:0; }
#header.scroll .btn_all_menu:hover { font-size:11px; text-indent:0; }

/**
 * contents
 * --------------------------------
 */
#wrap { /*min-width:1280px;*/ }



/**
 * footer
 * --------------------------------
 */
#footer {position:relative;/*min-width:1280px;*/min-width: 1080px;border-top:2px solid #e5e5e5;background:#f4f4f4;}
#footer .btn_top_wrap { position:fixed; z-index:100; left:0; bottom:0; width:100%; min-width:1280px; height:40px; box-sizing:border-box; }
#footer .btn_top { display:block; position:absolute; right:50px; bottom:0px; width:40px; height:40px; font-family:"HelveticaNeue"; font-weight:700; font-size:15px; text-align:center; letter-spacing:-0.02em; line-height:40px; color:#ffffff; background-color:#727272; }
#footer .btn_top:hover { background-color:#000000; }
#footer .btn_top span { border-bottom:2px solid #ffffff; }
#footer .footer_inner { width:1080px; line-height:80px; margin:0 auto; overflow:hidden; }
#footer .footer_menu { float:left; overflow:hidden; }
#footer .footer_menu li { float:left; font-size:17px; color:#ababab; }
#footer .footer_menu li:before { display:inline-block; content:""; width:1px; height:12px; margin:0 10px; background:#dadada; }
#footer .footer_menu li:first-child:before { display:none; }
#footer .footer_menu li:nth-child(4) { color:#505050; }
#footer .alliance { float:right; }
#footer .alliance li { float:left; margin-left:28px; }
#footer .alliance li img { vertical-align:middle; }
#footer address { clear:both; padding:35px 0 40px; border-top:1px solid #e5e5e5; overflow:hidden; }
#footer address:before { display:block; content:""; float:left; width:111px; height:60px; margin:5px 55px 0 0; background:url(/avenueCom/images/common/sp_common.png) no-repeat 0 -155px; }
#footer address .txt_area { float:left; }
#footer address p { font-size:12px; line-height:18px; color:#999999; }
#footer address .btn_license { display:inline-block; font-weight:bold; font-size:15px; text-align:center; vertical-align:top; box-sizing:border-box; width:85px; height:20px; font-weight:normal; font-size:11px; line-height:18px; margin-left:8px; border-width:1px; color:#707070; border-style:solid; border-color:#919191; background:transparent; background:#ffffff; background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.07)); background:linear-gradient(to top, rgba(0,0,0,0.07), rgba(0,0,0,0)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#08ffffff,endColorstr=#10000000); }
#footer address .copyright { font-size:10px; line-height:1; color:#bbbbbb; margin-top:15px; }
#footer .banner_area { float:right; }
#footer .banner_area .award { display:block; line-height:1; margin-bottom:6px; }
