$dirCommon: '{{dirRoot}}/resources/images/common/';
$dirMain: '{{dirRoot}}/resources/images/main/';
$dirSub: '{{dirRoot}}/resources/images/sub/';
$dirView: '{{dirRoot}}/resources/images/view/';
$dirMore: '{{dirRoot}}/resources/images/more/';
$dirTemp: '{{dirRoot}}/resources/images/temp/';

$multiple: 3;

$colorDefault: #222;
$colorBlack1: #555;
$colorBlack2: #767676;
$colorGray: #999;
$colorLightGray:#aea7a2;
$colorWhite: #fff;
$colorBlue: #21aab8;
$colorRed: #be3410;
