@mixin darkmode {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content:'';
        display:block;
        clear:both;
    }
}

@mixin bgImg($url: null, $col: null, $row: null) {
    @if ($url != null) {
        background-image:url($url);
    }

    @if ($col != null) {
        @include bgPosition($col, $row);
    }
}

@mixin bgPosition($col, $row) {
    $col: (-30px*($col - 1)/$multiple)*100/$deviceWidth#{vw};
    $row: (-30px*($row - 1)/$multiple)*100/$deviceWidth#{vw};
    background-position:$col $row;
}

@mixin ellipsis($lineHeight: null, $row: 1) {
    height: $lineHeight*$row;
    line-height:$lineHeight;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}

@mixin arrow($size, $color, $direction) {
	border:$size solid transparent;
	@if ($direction == 'right') {
		border-left-color:$color;
	} @else if ($direction == 'left') {
		border-right-color:$color;
	} @else if ($direction == 'top') {
		border-bottom-color:$color;
	} @else if ($direction == 'bottom') {
		border-top-color:$color;
	}
}
