/**
* --------------------------------
* Sub CSS
* --------------------------------
*/

.sub2 {
    @include bgImg($dirImgHome+'page2.png', 1, 1);
    background-size: 100%;
}

@include darkmode {
    .sub2 {
        @include bgImg($dirImgHome+'page2_dark.png', 1, 1);
        background-size: 100%;
    }
}

.dark {
    .sub2 {
        @include bgImg($dirImgHome+'page2_dark.png', 1, 1);
        background-size: 100%;
    }
}
