/**
* --------------------------------
* container
* --------------------------------
*/
#wrap {
    position: relative;
    height: 100vh;
}

#container {
    height: 100vh;
    padding-top: calcvw(189px);
    background-color: var(--bgcolor1);
    box-sizing: border-box;
    overflow: hidden;
}

#contents {
    position: relative;
    width: 100vw;
    height: calc(100vh - #{calcvw(189px)});
    margin: -2px 0 0 -2px;
    border: 2px solid #000;
    border-bottom: none;
    border-radius: calcvw(60px) calcvw(60px) 0 0;
    background-color: var(--bgcolor2);
    box-shadow: 0px 0px calcvw(40px) 0px rgba(0, 0, 0, 0.05);
}

@include darkmode {
    #contents {
        border-color: var(--bgcolor2);
    }
}

.dark {
    #contents {
        border-color: var(--bgcolor2);
    }
}
