/**
* --------------------------------
* Fonts CSS
* --------------------------------
*/

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 400;
    src: local("NanumSquareRoundR"),
    url($dirFonts+"NanumSquareRoundR.woff2") format("woff2"),
    url($dirFonts+"NanumSquareRoundR.woff") format("woff")
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: local("NanumSquareRoundEB"),
    url($dirFonts+"NanumSquareRoundEB.woff2") format("woff2"),
    url($dirFonts+"NanumSquareRoundEB.woff") format("woff")
}
