@charset "utf-8";

/**
* --------------------------------
* Init CSS
* --------------------------------
*/

:root {
    @each $attr, $value in $light-mode {
        @for $i from 1 through length($value) {
            $item: nth($value, $i);
            --#{$attr}#{$i}: #{$item};
        }
    }
}

@include darkmode {
    :root {
        @each $attr, $value in $dark-mode {
            @for $i from 1 through length($value) {
                $item: nth($value, $i);
                --#{$attr}#{$i}: #{$item};
            }
        }
    }
}

.dark {
    &:root {
        @each $attr, $value in $dark-mode {
            @for $i from 1 through length($value) {
                $item: nth($value, $i);
                --#{$attr}#{$i}: #{$item};
            }
        }
    }
}




html {position:relative;font-family:$NanumSquareRound;font-weight:400;font-size:16px;line-height:1;letter-spacing:-0.03em;color:$fontColorBase;word-break:keep-all;word-wrap:break-word;overflow: hidden;}
h1,h2,h3,h4,h5,h6 {font-weight: 800;margin:0;}
ul, ol {list-style:none;margin:0;padding:0;}
fieldset {margin:0;padding:0;border:none;}
textarea {resize:none;outline:none;font-family:$NanumSquareRound;}
a {text-decoration:none;color:$fontColorBase;-webkit-tap-highlight-color:transparent;cursor:pointer;}
p {margin:0;}
em {font-style:normal;}
table {table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0;}
th {padding:0;}
td {padding:0;}
dl,dd {margin:0;}
figure {margin:0;}
img {vertical-align:top;}
hr {display:none;}
address {font-style:normal;}
label {display:inline-block;}

.hide {
    position:absolute !important;
    top:-9999px;
    left:-9999px;
}

h1.tit {font-size: 40px;line-height: 52px;}
h2.tit {font-size: 36px;line-height: 46px;}
h3.tit {font-size: 32px;line-height: 42px;}
h4.tit {font-size: 28px;line-height: 38px;}
h5.tit {font-size: 24px;line-height: 34px;}
h6.tit {font-size: 20px;line-height: 30px;}

p.txt_lv1 {font-size: 24px;line-height: 36px;}
p.txt_lv2 {font-size: 20px;line-height: 30px;}
p.txt_lv3 {font-size: 18px;line-height: 28px;}
p.txt_lv4 {font-size: 16px;line-height: 26px;}
p.txt_lv5 {font-size: 15px;line-height: 25px;}
