/* division */
[class*="division"] {
    &[class*="horizon"] {
        @include clearfix;

        > * {
            float:left;
            position:relative;
            padding:0 calcu(24px) 0 calcu(27px);

            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                margin:auto;
            }

            &:after {
                content:"";
                display:inline-block;
                height:100%;
                vertical-align:middle;
            }

            &:first-child {
                padding-left:0 !important;

                &:before {
                    display:none;
                }
            }

            &:last-child {
                padding-right:0 !important;
            }
        }

        &[class*="line"] {
            > * {
                &:before {
                    width:calcu(3px);
                    height:calcu(20px);
                    background:#ccc;
                }
            }
        }

        &[class*="bullet"] {
            > * {
                &:before {
                    width:calcu(3px);
                    height:calcu(3px);
                    border-radius:100%;
                    background:#5b5b5b;
                }
            }
        }

    }

    &-vertical {
        display:block;
    }
}
