/**
* --------------------------------
* Datepicker CSS
* --------------------------------
*/

.datepicker {
    display: inline-block;
    position: relative;
    width: 120px;
    background-color: #fff;

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 14px;
        height: 13px;
        margin: auto;

        @include bgImg($dirImgCommon+'form.png', 6, 1);
    }

    > input {
        position: relative;
        z-index: 1;
        width: 100%;
        padding-right: 34px !important;

        &[readonly] {
            color: $pointColorDarkgray;
            background-color: transparent;
        }
    }

}

/* datepicker */
.ui-datepicker {
    z-index: 100 !important;
    width: 210px;
    padding: 0 10px;
    border-color:$pointColorDAB !important;
    border-radius:0;

    .ui-datepicker-header {
        padding:0;
        border:none;
        background:none;
    }

    .ui-datepicker-title {
        line-height:45px;
        font-size:12px;
        line-height: 1;
        color:#333;
        padding: 10px 0;
    }

    .ui-datepicker-year,
    .ui-datepicker-month {
        width: auto !important;
        height: 32px;
        font-family: $NanumSquareRound;
        font-weight: 350;
        font-size: 13px !important;
        color: $pointColorDarkgray;
        padding: 0 15px;
        border-color: $pointColorDAB;
        border-radius: 0;
        box-sizing: border-box;
    }

    .ui-datepicker-month {
        margin-left: 2px !important;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        top: 0;
        bottom: 0;
        width:30px;
        height:32px;
        margin: auto;
        border-color:transparent;
        background:transparent;

        span {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 10px;
            height: 6px;
            margin: auto;
            @include bgImg($dirImgCommon+'form.png', 1, 1);
        }
    }

    .ui-datepicker-prev {
        left: 0;

        span {
            transform: rotate(90deg);
        }
    }

    .ui-datepicker-next {
        right: 0;

        span {
            transform: rotate(270deg);
        }
    }

    th {
        font-family: $NanumSquareRound;
        font-weight: 350;
        font-size: 13px;
        color: #adb0b8;
        padding: 5px 0 10px 0;
    }

    td {
        height: 30px;
        text-align: center;
        padding: 0;

        a {
            display:inline-block;
            width:24px;
            height:24px;
            font-family: $NanumSquareRound;
            font-weight: 350;
            font-size: 13px;
            text-align:center;
            line-height:24px;
            padding:0;
            border:none !important;
            border-radius:100%;
            background:#fff !important;

            &.ui-state-active {
                font-size:12px;
                color:#fff;
                background: #00b5e2 !important;
            }
        }
    }
}
