/**
* --------------------------------
* Flex Box CSS
* --------------------------------
*/

.flex_box {
    display: flex;

    & > .box {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        margin-left: 30px;

        &:first-child {margin-left: 0;}
    }
}

.box {
    position: relative;

    .result {
        position: relative;
    }

    .btn_area {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: calc(100% - 214px);

        .btn_register {
            width: 80px;
            font-size: 15px;
        }
    }
}
