/**
* --------------------------------
* Input Radio CSS
* --------------------------------
*/

input[type="radio"] {
    // position:absolute;
    // left:-9999px;
    display: inline-block;
    vertical-align: middle;

    + span {
        display:inline-block;
        position:relative;
        line-height: 22px;
        // font-size:16px;
        // line-height:22px;
        // cursor:pointer;
        // user-select:none;

        // &:before {
        //     content:"";
        //     display:inline-block;
        //     width:22px;
        //     height:22px;
        //     vertical-align:top;
        //     margin-right:5px;
        //     @include bgImg($dirImgCommon+'form.png', 2, 1);
        // }
    }

    // &[disabled] {
    //     + span {
    //         color:$fontColorBase;
    //
    //         &:before {
    //             @include bgPosition(4, 1);
    //         }
    //     }
    // }
    //
    // &:checked {
    //     + span {
    //         &:before {
    //             @include bgPosition(3, 1);
    //         }
    //     }
    //
    //     &[disabled] {
    //         + span {
    //             color:$fontColorBase;
    //
    //             &:before {
    //                 @include bgPosition(5, 1);
    //             }
    //         }
    //     }
    // }
}
