/**
* --------------------------------
* Search CSS
* --------------------------------
*/

.search_area {
    position: relative;
    font-size: 0;
    padding: 10px;
    margin-bottom: 40px;
    border-top: 1px solid $pointColorDAB;
    border-bottom: 1px solid $pointColorDAB;
    background-color: $pointColorAB;

    .row {
        margin-top: 8px;

        .column {
            display: inline-block;
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    .title {
        display: inline-block;
        position: relative;
        font-size: 13px;
        line-height: 32px;
        vertical-align: top;
        padding: 0 4px 0 8px;

        // &:after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     width: 1px;
        //     height: 10px;
        //     margin: auto;
        //     background-color: $pointColorDAB;
        // }
    }

    input,
    .select,
    .datepicker {
        vertical-align: top;
        margin-left: 2px;

        &:first-child {
            margin-left: 0;
        }
    }

    input[type="search"] {
        width: 240px;
    }

    .tilde {
        display: inline-block;
        width: 14px;
        font-size: 13px;
        text-align: center;
        vertical-align: top;
        line-height: 32px;
    }

    .btn_area {
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        width: auto !important;
        height: 40px;
        margin: auto;

        .btn_reset {
            position: relative;
            width: 40px;
            border-color: $pointColorDAB !important;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left:0;
                width: 16px;
                height: 16px;
                margin: auto;

                @include bgImg($dirImgCommon+'btn.png', 2, 1);
            }
        }

        .btn_search {
            width: 100px;
            margin-left: 2px;
        }
    }
}
