/**
* --------------------------------
* Select CSS
* --------------------------------
*/

.select {
    display: inline-block;
    width: auto;

    .ui-selectmenu-button,
    .ui-selectmenu-button:hover,
    .ui-selectmenu-button:focus {
        width: 100%;
        height: 100%;
        font-weight: 350;
        font-family:$NanumSquareRound;
        font-size: 13px;
        vertical-align: top;
        line-height: 16px;
        color: $fontColorDarkgray;
        padding: 7px 15px 7px;
        margin: 0;
        border: 1px solid $pointColorDAB;
        border-radius: 0;
        background-color: #fff;
        box-sizing: border-box;

        .ui-selectmenu-icon {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;
            width: 10px;
            height: 6px;
            margin: auto;
            @include bgImg($dirImgCommon+'form.png', 1, 1);
        }

        .ui-selectmenu-text {
            margin-right: 20px;
        }

        &[class*="open"] {
            .ui-selectmenu-icon {
                transform: rotate(180deg);
            }
        }
    }

    select {
        outline:none;
        font-family:$NanumSquareRound;
        color:$fontColorBase;

        &:required + .ui-selectmenu-button,
        &.required + .ui-selectmenu-button {
            border-color:#e0e7f1;
            background-color: #e5f7fb;
        }
    }

    .big {
        &+ .ui-selectmenu-button {
            font-size: 15px;
            line-height: 20px;
            padding-top: 11px;
            padding-bottom: 11px;
        }
    }
}

.ui-selectmenu-menu {
    .ui-menu {
        margin-top: -1px;
        padding-bottom: 0;
        border: 1px solid $pointColorDAB;

        .ui-menu-item {
            .ui-menu-item-wrapper {
                height: 34px;
                font-family:$NanumSquareRound;
                font-size: 13px;
                line-height: 34px;
                color: $fontColorBase;
                padding: 0 14px;
                border: none;

                &[class*="active"] {
                    font-weight: 350;
                    margin: 0;
                    background-color: #f1f6fa;
                }
            }
        }

        &.big {
            .ui-menu-item {
                .ui-menu-item-wrapper {
                    font-size: 15px;
                }
            }
        }
    }
}
