/**
* --------------------------------
* Table CSS
* --------------------------------
*/

.table {
    table-layout:fixed;
    width:100%;
    border-collapse:collapse;
    border-spacing:0;

    th {
        height: 32px;
        font-weight: 350;
        font-size: 13px;
        padding:5px;
        border-top: 1px solid $pointColorDAB;
        border-left: 1px solid $pointColorDAB;
        background-color: $pointColorAB;
        box-sizing: border-box;

        &:first-child {
            border-left: none;
        }

        &.align_left {
            text-align: left;
        }
    }

    tbody {
        tr {
            th {
                border-bottom: 1px solid $pointColorDAB;

                .required {
                    display: inline-block;
                    position: relative;
                    font-size: 0;

                    &:after {
                        content: "*";
                        position: absolute;
                        top: -13px;
                        left: 0;
                        font-size: 13px;
                        color: #ff0000;
                    }
                }

                &:hover{
                    &+ td {
                        color: $fontColorBase;
                        background-color: #fff;
                    }
                }
            }

            &:nth-child(even) {
                th:hover {
                    &+ td {
                        background-color: #fafafa;
                    }
                }
            }

            td {
                height: 21px;
                font-size: 13px;
                text-align: center;
                padding:5px;
                border-top: 1px solid $pointColorDAB;
                border-bottom: 1px solid $pointColorDAB;
                border-left: 1px solid $pointColorDAB;

                &:first-child {
                    border-left: none;
                }

                &.align_left {
                    text-align: left;
                }
            }

            &:nth-child(even) {
                td {
                    background-color: #fafafa;
                }
            }

            &:hover td {
                color: #fff;
                background-color: $primaryColor;
            }
        }
    }
}
