/**
* --------------------------------
* List CSS
* --------------------------------
*/
#container #contents.list {
    height:calc(100vh - #{calcu(150px)} - #{calcu(3px)});
    margin-top:0;

    > section {
        position:relative;
        background-color:#fff;
        overflow:hidden;
    }

    .filter-area {
        height:calcu(120px);
        padding:calcu(15px) 0;
        border-bottom:calcu(3px) solid #f3f3f3;
        background-color:#fff;

        .swiper-container {
            padding:0 calcu(42px);

            button {
                width:auto;
                height:calcu(88px);
                font-size:calcu(42px);
                padding:0 calcu(39px);
                border:calcu(3px) solid #dbd9d6;
                border-radius:calcu(44px);

                &:after {
                    @include bgList(3, 1);

                    content:"";
                    display:inline-block;
                    width:calcu(24px);
                    height:calcu(24px);
                    margin-left:calcu(30px);
                    background-image:url($dirCommon+'btn-close.png');
                    background-size:calcu(900px);
                }
            }
        }
    }

    .model-area {
        line-height:calcu(120px);
        padding:0 calcu(42px);

        dt {
            color:$colorBlack2;
        }
    }

    .sort-area {
        position:relative;
        background-color:#fff;

        .total {
            position:absolute;
            z-index:2;
            top:0;
            bottom:0;
            left:calcu(42px);
            line-height:calcu(120px);
            margin:auto;
        }

        .select {
            height:calcu(120px);
            text-align:right;

            .ui-selectmenu-button {
                line-height:40px;
                border:none;
            }

            select {
                text-align-last:right;
                direction:rtl;
                border:none;
            }
        }
    }

    .list-area {
        height:calc(100% - #{calcu(120px)} - #{calcu(120px)} - #{calcu(120px)} - env(safe-area-inset-bottom));
        padding:calcu(60px) calcu(42px) calcu(70px);
        border-top:calcu(3px) solid #f3f3f3;
        overflow-y:scroll;

        li {
            margin-top:calcu(70px);

            &:first-child {
                margin-top:0;
            }

            .nodata {
                margin-top:calcu(200px);

                button {
                    display:block;
                    height:calcu(84px);
                    font-weight:700;
                    font-size:calcu(42px);
                    color:$colorBlue;
                    padding:0 calcu(32px);
                    margin:calcu(75px) auto 0;
                    border:calcu(3px) solid #6dc8bf;
                    border-radius:calcu(42px);
                }
            }
        }
    }
}
